<% if (isSignedIn()) { %>
<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <div class='multiple-datasets e-search'>
      <input type="text" placeholder="Search" class="form-control search typeahead">
    </div>
  </div>
</div>
<% } %>
