<div class='row' id='new-link'>
  <div class='col-xs-12 col-md-12'>
    <h1>New Link</h1>

    <form role="form" onsubmit="newLink.disabled = true; return true;">
      <div class="form-group">
        <input type="text" class="form-control" id="input-title" placeholder="Title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="input-href" placeholder="URL">
      </div>
      <div class="form-group">
        <input type="text" class="form-control tokenfield-typeahead" id="input-tags" placeholder="Tags">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="input-suggested-tags" placeholder="Suggested tags">
      </div>
      <div class="form-group">
        <textarea type="text" rows="5" class="form-control" id="input-comment" placeholder="Comments"></textarea>
      </div>

      <button type="submit" name="newLink" class="btn btn-default">Save</button>
    </form>
  </div>
</div>
