<h1>New Link</h1>

<form role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="InputTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="InputUrl" placeholder="URL">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="InputTags" placeholder="Tags">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="InputSuggestedTags" placeholder="Suggested tags">
  </div>
  <div class="form-group">
    <textarea type="text" rows="5" class="form-control" id="InputComments" placeholder="Comments"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Save</button>
</form>
