<div class='row' id='show-tag'>

  <div class="col-xs-4 col-md-4">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#/settings/account">Account</a></li>
      <li><a href="#/settings/password">Password</a></li>
      <li><a href="#/settings/preferences">Preferences</a></li>
    </ul>
  </div>
  <div class="col-xs-8 col-md-8">
    <div class="row">
      <!-- Alert -->
      <div class='col-xs-12 col-md-12' id="settings-alert"></div>
    </div>

    <div class="row">
      <!-- settings-page -->
      <div class='col-xs-12 col-md-12 settings-page'></div>
    </div>
  </div>

</div>
