<h3>Update password</h3>
<p>Minimum 5 characters</p>
<form role="form">
  <div class="form-group">
    <input type="text" class="form-control val-settings-password-password" value="">
  </div>
  <button type="submit" class="btn btn-primary val-settings-password-submit">Change password</button>
</form>
