<h3>Account</h3>

<p>
  Update email.
</p>

<form role="form">
  <div class="form-group">
    <input type="text" class="form-control val-settings-account-email" value="<%= currentUser.get('email') %>">
  </div>
  <button type="submit" class="btn btn-primary e-settings-account-submit">Submit</button>
</form>
