<form role="form" class='e-page-root-sign-in'>
  <div class="form-group">
    <input type="email" class="form-control" id="input-signin-username-email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="input-signin-password" placeholder="Password">
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="cautionary">
        <a href="#forgot-password">Forgot password?</a>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-default e-sign-in">Sign in</button>
</form>
