<p>New to Supurl? <b>Sign up</b></p>

<form role="form" class='e-page-root-sign-up'>
  <div class="form-group">
    <input type="text" class="form-control" id="input-signup-username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="input-signup-email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="input-signup-password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="input-signup-password-confirmation" placeholder="Password confirmation">
  </div>

  <button type="submit" class="btn btn-primary e-sign-up">Sign up</button>
</form>
