<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class='home-greeting'>
      <h1>Organize bookmarks with Supurl</h1>
      <p>
        You can save links and organize them with tags.
      </p>
    </div>
  </div>

  <!-- Second half -->
  <div class="col-xs-12 col-md-6">

    <div class="well v-sign-in"></div>
    <div class='well v-sign-up'></div>

  </div>

  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <a href='#/links/new'>new link</a>
      |
      <a href='#/links/1/edit'>edit link</a>
      |
      <a href='#/links/1'>show link</a>
      |
      <a href='#/links'>links</a>
    </div>
  </div>

</div>
