.links {
  .link {
    margin-bottom: 20px;

    .upper-link {
      a {
        font-size: 1.6em;
      }
      p {
        font-size: 1.0em;
      }
    }

    .lower-link {
      .lower-left-link {
        .tag {

        }
      }
      .lower-right1-link {

      }
      .lower-right2-link {

      }
    }
  }
}

#new-link {
  .tags-field {
    .twitter-typeahead {
      width: 100%;
    }
  }
}
